@model ProDuct
@{
    ViewBag.Title = "Upsert Product";
}
<div style="display:flex; margin:150px 0">
    <div class="container">
        <h1 class="h1 text-gray-800" style="margin-bottom: 20px">@(Model.Id == 0 ? "Add product" : "Update product")</h1>
        <form method="post" asp-action="@(Model.Id == 0 ? "Create" : "Edit")" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" type="number" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">Image</label>
                @if (Model.Id == 0)
                {
                    <input type="file" id="imagefile" name="imagefile" accept="image/*" asp-for="ImageUrl" />
                }
                else
                {
                    <input type="hidden" asp-for="ImageUrl" readonly />
                    <img src="~/@Model.ImageUrl" width="10%" />
                }
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: @(Model.Id == 0 ? "block" : "none")">
                <label asp-for="QuantityInStock">QuantityInStock</label>
                <input asp-for="QuantityInStock" type="text" class="form-control" />
                <span asp-validation-for="QuantityInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SanPhamID">Product Type</label>
                <select asp-for="SanPhamID" asp-items="@ViewBag.DSSanPham" class="form-control my-2">
                    <option disabled>Select Type</option>
                </select>
                <span asp-validation-for="SanPhamID" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="padding: 10px">@(Model.Id == 0 ? "Create" : "Update")</button>
            <a asp-controller="QLProduct" asp-action="Index" class="btn btn-secondary" style="padding: 10px">Cancel</a>
        </form>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
